<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw09A0ZE7WFnbvcTWhKFmnwKEirH0q9XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>286816299121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finmene.capstone.id</string>
	<key>PROJECT_ID</key>
	<string>finmene-project</string>
	<key>STORAGE_BUCKET</key>
	<string>finmene-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286816299121:ios:a8c9515ad38f2823a313d0</string>
</dict>
</plist>